/* Début */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wdth,wght@6..12,75..125,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html > body{
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #FFFFF0; /* White bone */
    font-family: 'Nunito', 'Nunito Sans', sans-serif;
    font-weight: 600;
    gap: 50px;
}

html > body > section{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html > body > section > h1{
    font-size: 6.5em;
    margin: 0px;
    font-weight: 700;
}

html > body > section > p{
    font-size: 3.5em;
    margin: 0px;
}

html > body > section > div.carteProjets > article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    padding: 10px;
    max-width: 250px;
    border: 2px solid #040720;
    border-radius: 15px;
}

html > body > section > div.carteProjets > article:hover{
    /*border: 2px solid rgba(255, 255, 255, 0.2);*/
    transform: translateY(-0.25rem);
    transition: transform .2s ease-in-out;
    box-shadow: 0 0 20px 5px #040720;
}

html > body > section > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

html > body > section > div > article.carteProjets > h3{
    align-self: center;
    justify-content: center;
}

strong{
    color: #834aff;
    font-weight: 900;
}

button {
    --glow-color: #13218a;
    --glow-spread-color: #040720;
    --enhanced-glow-color: #1726a8;
    --btn-color: #090d35;
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}
 
/* glow effect on the bottom*/
/*
button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}
*/
   
button:hover {
    color: #FFFFF0;/*var(--btn-color)*/
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
}
   
button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
}

.accueil{
    height: 85vh;
    padding-bottom: 15vh;
}

.secondaire{
    height: 25vh;
}

.img{
    width: 240.0px;
    height: 160.0px;
    border-radius: 4px 4px 4px 4px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
}

.social{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease;
}

.socialImg{
    width: 28px;
    height: 28px;
}

.carteResau{
    display: flex;
    flex-direction: row;
    width: 200px;
    gap: 8px;


}

.carteProjets{
    width: 100vh;
}

#projets{
    align-items: center;
}


.slide-in-left {
	-webkit-animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-23 17:10:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  