/* Début */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&family=Nunito:wght@600;900&display=swap');

html > body{
    display: flex;
    flex-direction: column;
    background-color: #171717;
    color: #FFFFF0; /* White bone */
    font-family: 'Nunito Sans', 'Nunito', sans-serif;
    font-weight: 600;
}

html > body > section{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html > body > section > h1{
    font-size: 4.5em;
    margin: 0px;
}

html > body > section > p{
    font-size: 2em;
    margin: 0px;
}

html > body > section > div > article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    max-width: 250px;
    border: 2px solid #FFFFF0;
    border-radius: 15px;
}

html > body > section > div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
html > body > section > div:nth-child(2){
    width: 100vh;
}

.accueil{
    height: 100vh;
}

.secondaire{
    height: 25vh;
}

#projets{
    align-items: center;
}