@charset "UTF-8";
/* Début */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wdth,wght@6..12,75..125,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
html body {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #FFFFF0;
  font-family: "Nunito", "Nunito Sans", sans-serif;
  font-weight: 600;
  gap: 50px;
  transition: all 0.3s ease-in-out;
}

html > body > header {
  display: flex;
  height: 45px;
  width: 100%;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 0;
  border-radius: 0 0 15px 15px;
  border-bottom: 1px solid #000000;
  background: rgba(33, 30, 30, 0.2509803922);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
  width: 60vw;
  position: fixed;
}

html > body > main > section {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

html > body > main > section > h1 {
  font-size: 6.5em;
  margin: 0;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

html > body > main > section > div > h2 {
  font-size: 1.5em;
  margin: 0;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
}

html > body > main > section > p {
  font-size: 3.5em;
  margin: 0;
}

html > body > main > section > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
  width: -moz-available;
}

html > body > main > section > div.carteProjets > article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  max-width: 250px;
  border: 2px solid #0e1557;
  border-radius: 23px;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

html > body > main > section > div.carteProjets > article:hover {
  transform: translateY(-0.25rem);
  transition: transform 0.4s ease-in-out;
  box-shadow: 0 0 20px 5px #192693;
}

html > body > main > section > div.carteProjets > article > h3 {
  text-align: center;
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
}

html > body > main > section > div.carteProjets > article > p {
  text-align: center;
  margin-bottom: 8px;
  transition: all 0.3s ease-in-out;
}

html > body > main > section > div.carteProjets > article > figure {
  margin-top: 0;
  margin-bottom: 8px;
}

strong {
  color: #834aff;
  font-weight: 900;
}

button {
  cursor: pointer;
}

.bouton {
  border: 0.25em solid #374cf0;
  padding: 1em 3em;
  color: #374cf0;
  font-size: 15px;
  font-weight: bold;
  font-family: inherit;
  background-color: #090d35;
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em #374cf0;
  position: relative;
  transition: all 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}

.bouton:hover {
  color: #FFFFF0;
  background-color: #374cf0;
  box-shadow: 0 0 1em 0.25em #374cf0, 0 0 4em 2em #040720, inset 0 0 0.75em 0.25em #374cf0;
}

.bouton:active {
  box-shadow: 0 0 0.6em 0.25em #374cf0, 0 0 2.5em 2em #040720, inset 0 0 0.5em 0.25em #374cf0;
}

.accueil {
  height: 90vh;
  /*padding-bottom: 15vh;*/
}

.btn {
  background: none;
  border: none;
}

.img {
  width: 252px;
  height: 168px;
  border-radius: 8px;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.social {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.logo {
  width: 30px;
  height: 30px;
}

.socialImg {
  width: 28px;
  height: 28px;
}

.carteResau {
  display: flex;
  flex-direction: row;
  gap: 8px;
  transition: all 0.3s ease-in-out;
}

.carteResau > a {
  display: flex;
  height: 72px;
  width: 72px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 50%;
  background: #1a1a1a;
  text-decoration: none;
  color: #FFFFF0;
  transition: all 0.3s ease-in-out;
}

.carteResau > a > svg {
  fill: #ffffff;
  transition: all 0.3s ease-in-out;
}

.carteResau > a:hover {
  background: #2c2f33;
}

.carteProjets {
  padding: 0;
}

#titreSecondaire {
  font-size: 1em;
  font-weight: 900;
  color: #FFFFF0;
}

#projets {
  align-items: center;
}

.slide-in-left {
  animation: slide-in-left 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * * Generated by Animista on 2024-3-23 17:10:43
 * * Licensed under FreeBSD License.
 * * See http://animista.net/license for more info. 
 * * w: http://animista.net, t: @cssanimista
 * * ---------------------------------------------- */
/**
 * * ----------------------------------------
 * * animation slide-in-left
 * * ----------------------------------------
 * */
 * @-webkit-keyframes slide-in-left 
 *  0% 
 *    -webkit-transform: translateX(-1000px)
 *            transform: translateX(-1000px)
 *    opacity: 0
 *  100% 
 *    -webkit-transform: translateX(0)
 *            transform: translateX(0)
 *    opacity: 1
 *
 * @keyframes slide-in-left 
 *  0% 
 *    -webkit-transform: translateX(-1000px)
 *            transform: translateX(-1000px)
 *    opacity: 0
 *
 *  100% 
 *    -webkit-transform: translateX(0)
 *            transform: translateX(0)
 *    opacity: 1 */
/*****************************************************************************************************/
@media screen and (max-width: 600px) {
  html > body > main > section > h1 {
    font-size: 3.5em;
    margin: 0;
    font-weight: 700;
    text-align: center;
  }
  html > body > main > section > div > h2 {
    font-size: 1.5em;
    margin: 0;
    font-weight: 900;
  }
  html > body > main > section > p {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
  }
  html > body > main > section > div {
    flex-direction: column;
    gap: 25px;
  }
  html > body > main > section.accueil {
    max-width: 100%;
    align-items: center;
  }
  .carteResau {
    width: 100%;
    justify-content: center;
  }
}/*# sourceMappingURL=Style.css.map */