@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wdth,wght@6..12,75..125,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
html > body {
    font-family: 'Nunito', 'Nunito Sans', sans-serif;
}

a.btn-back {
    position: absolute;
    left: 10px;
}

div.card.col-md-6.offset-3 > div.card-body > form {
    > div {
        width: 100%;
        padding: 0 3rem 0 3rem;
    }
    div.mb-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .1rem;
    }
}
#listeCompetence article {
    max-width: 600px;
}
figure > svg {
    width: 35px;
    height: 35px;
}

#partieProjet > div > a:nth-child(odd){
    flex-direction: row;
}

#partieProjet > div > a:nth-child(even){
    flex-direction: row-reverse;
}
a.carte {
    text-decoration: none !important;
    color: inherit !important;
}

.logoLangage{
    width: 150px;
    height: 122px;
}
.logoG {
    width: 50px;
    height: 50px;
}

html > body > main > section > .sousTitre{
    font-size: 2.5rem;
    margin: 0;
}
html > body > main > section > p{
    font-size: 1.25rem;
    margin: 0;
}
#formulaireContact .mb-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}