a.btn-back {
    position: absolute;
    left: 10px;
}

div.card.col-md-6.offset-3 > div.card-body > form {
    width: 50%;

    div.mb-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .1rem;
    }
}